body {
    display : flex;
    flex-direction : column;
    min-height : 100vh;
}

.container {
    flex : 1;
}

/* Navbar */
.navbar {
    height : 4rem;
    background-color : white;
}

.fa-compass {
    color : red;
    font-size : 2rem;
}

.nav-link {
    color : #222222;
}


/* FOOTER */
.f-info-links a {
    text-decoration : none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration : underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width : 100%;
    display :flex;
    align-items : middle;
    justify-content : center;
}


.f-info-socials i {
    margin-right : 1.2rem;
    font-size : 1.2rem;
}

.f-info {
    height : 8rem;
    display : flex;
    background-color : #ebebeb;
    flex-wrap : wrap;
    justify-content : center;
    align-items : space-evenly;
    text-align : center;
}


/* Cards */
.listing-card {
    border : none !important;
    margin-bottom : 2rem;
}

.card-image-top {
    border-radius : 1rem !important;
    width : 100% !important;
    object-fit : cover;
}

.card-body {
    padding : 0 !important;
}

.card-text {
    font-weight : 400;
}
.listing-link {
    text-decoration : none;
}


/* Card Effect */
.card-img-overlay {
    opacity : 0;
}

.card-img-overlay:hover {
    opacity : 0.2;
    background-color : white;
}

.add-btn {
    background-color : #fe424d !important;
    border : none!important;
}

/* Edit page */
.edit-btn {
    background-color : #fe424d !important;
    border : none!important;
}

/* Show page */
.show-image {
    height : 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0S;
}
